.footerContainer {
  padding: 2rem;
  background: #9392ae;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerText {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}
