.footerContainer {
    padding: 2rem;
    background: #C3BEF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    color: #584280;
    font-size: 1rem;
    font-weight: 700;
}